<div class="container">
    <h1>Department</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <kendo-grid departmentBinding [pageSize]="10" [pageable]="{
                buttonCount: 5,
                info: true,
                type: 'numeric',
                pageSizes: true,
                previousNext: true
              }" [sortable]="{
                allowUnsort: true,
                mode: 'single'
              }">
                <kendo-grid-column field="id"></kendo-grid-column>
                <kendo-grid-column field="name"></kendo-grid-column>
                <kendo-grid-column field="noOfEmployees"></kendo-grid-column>
                <kendo-grid-column field="Action">
                    <ng-template kendoGridCellTemplate let-dataItem> 
                        <span >View | </span>
                        <span>Edit | </span>
                        <span>Delete | </span>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>