:host {
    display: block;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #f5f7fa;
    text-align: center;
    color: #3a3f51;
    padding: 3em;
}

.col-lg-4 {
    padding: 0;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}

.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #3a3f51;
    border-radius: 0;
}

.input-underline:focus {
    border-bottom: 2px solid #3a3f51;
    box-shadow: none;
}

.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

small {
    color: #3a3f51;
}

.form-group {
    padding: 8px 0;
}

input::-webkit-input-placeholder {
    color: #3a3f51 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #3a3f51 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #3a3f51 !important;
}

input:-ms-input-placeholder {
    color: #3a3f51 !important;
}

.form-content {
    padding: 40px 0;
}

.user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
    /* red */
}